%h1 Listing b_questions

%table
  %tr
    %th Content
    %th
    %th
    %th

  - @b_questions.each do |b_question|
    %tr
      %td= b_question.content
      %td= link_to 'Show', b_question
      %td= link_to 'Edit', edit_b_question_path(b_question)
      %td= link_to 'Destroy', b_question, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New B question', new_b_question_path
